<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
        <h3><%= title.toUpperCase() %></h3>
        <p>R$ <%= price %></p>
        <p><%= discount %>%</p>
    </div>
  </body>
</html>
